body {
    color: #222;
    font-family: sans-serif;
}

.reloj{
    background: linear-gradient(rgb(245, 26, 26), rgb(214, 96, 96));
    border: 2px solid rgb(196, 41, 41);
    display: inline-flex;
    border-radius: 5px;
}

.reloj div{
    color: #fff;
    padding: 5px 7px;
    font-size: 40px;
    font-family: monospace;
    border: 1px solid rgb(196, 41, 41);
}

    
